.main {
    position: relative;
    background-color: #383838;
}

.welcome_image_container img {
    float: right;
    max-width: 50%;
    max-height: 50%;
}

.about_header_text {
    position: absolute;
    top: 12%;
    left: 16%;
    color: white;
    font-size: 30;
    font-weight: 900;
}

.about_text {
    letter-spacing: 1px;
    position: absolute;
    top: 28%;
    left: 3.1%;
    color: white;
    font-size: 27;
    font-weight: 400;
    text-align: center;
}

.info_text {
    position: absolute;
    top: 10.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30;
    text-align: center;
    font-weight: 900;    
}